<div class="comment-form">
    <form class="form postProject comment-form-container">
    <h3>Create a New Post:</h3>
      <div class="form-group">
        <label for="projectTitle">Title:</label>
        <input class="form-input" type="text" id="projectTitle" name="projectTitle" />
      </div>
      <div class="form-group">
        <label for="projectDescription">Description:</label>
        <textarea class="form-input" id="projectDescription" name="projectDescription"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  <script src="/public/js/createPost.js"></script>