:root {
  --primary: #f5a25d;
  --secondary: #fa7f72;
  --light: #ebebeb;
  --border-radius: 0.3rem;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid var(--light);
}

.btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;
  font-size: 100%;
}

.btn:hover {
  color: var(--secondary);
  text-decoration: underline;
}


.postFooter p{
  font-weight: 100;
  font-size: 12px;
  border-bottom: 1px solid var(--light);
}

.renderView {

  margin: 20px 0px 60px;
  
}

.renderView p{
  margin: 0px 0px 60px;
  
}

.title{
  font-size: 24px;
  color: var(--primary);
}
.join{
  text-align: center;
}